.dashboard {
    display: flex;
    height: 100vh;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pages {
    flex-grow: 1;
    position: relative;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

